doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, minimal-ui')
    title Checkers
    link(rel='stylesheet' href="/vendor/sweetalert/dist/sweetalert.css")
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #container
      #checkersboard
        table
          each row in [0, 2, 4, 6]
            tr
              each col in [0, 2, 4, 6]
                td.black.space(data-x=col, data-y=row)
                td.white.space(data-x=col + 1, data-y=row)
            tr
              each col in [0, 2, 4, 6]
                td.white.space(data-x=col, data-y=row + 1)
                td.black.space(data-x=col + 1, data-y=row + 1)
      #controls
        h1#title Marmot Checkers
        #players
          p#p1.player &#8595;&nbsp; Player 1&nbsp;&nbsp;
            span#p1count 12
          p#p2.player &#8593;&nbsp; Player 2&nbsp;&nbsp;
            span#p2count 12
          button#draw Draw
      p#winmessage Winner!
    script(src='/vendor/sweetalert/dist/sweetalert.min.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
